{% extends "base.html" %}
{% block content %}
    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Guides</h1>
                </div>
                <!-- /.col-lg-12 -->
                <div class="col-lg-12   ">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a type="button" class="btn btn-default" href="{% url 'create_guide' %}">New Guide</a>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-pills">
                                {% for category in all_categories %}
                                    <li><a href="#{{ category.id }}-pills" data-toggle="tab">{{ category.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                {% for category in all_categories %}
                                    <div class="tab-pane fade" id="{{ category.id }}-pills">
                                        {% if not all_guides %}
                                            No guides here
                                        {% else %}
                                            <div class="panel-group" id="accordion">
                                                {% for guide in all_guides %}
                                                    {% if guide.category == category %}
                                                        <div class="panel panel-default">
                                                            <div class="panel-heading">
                                                                <h4 class="panel-title">
                                                                    <a data-toggle="collapse" data-parent="#accordion"
                                                                       href="#collapse{{ guide.id }}">{{ guide.title }}</a>
                                                                </h4>
                                                            </div>
                                                            <div id="collapse{{ guide.id }}"
                                                                 class="panel-collapse collapse">
                                                                <div class="panel-body">
                                                                    {{ guide.text }}
                                                                    <br>
                                                                    <a href="{% url 'guide' %}"><button type="button" class="btn btn-default">Read
                                                                        more
                                                                    </button></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
{% endblock %}